# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
/build/
/ios/.generated/
/ios/Flutter/App.framework/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*
/android/.gradle/
/android/app/build/
/android/build/
/.idea/
/.vscode/
/.metadata
*.iml
*.log
*.apk
*.ipa
*.lock
*.DS_Store
